.reservation-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.reservation-card {
  display: flex;
  align-items: center; /* 이미지와 텍스트 수직 정렬 */
  position: relative;
  background-color: rgb(76, 209, 64);
  color: white;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin-top: 50px;
}

.reservation-poster {
  width: 20%;
  height: 20%;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px; /* 이미지와 텍스트 사이 간격 */
}

.reservation-info {
  display: flex;
  flex-direction: column; /* 영화 정보는 세로 정렬 */
  gap: 15px;
}

.reservation-info p {
  margin: 0;
  font-size: 17px;
}

.reservation-info strong {
  color: #ff0000;
}



.btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.cancel-btn {
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.cancel-btn:hover,
.confirm-btn:hover {
  background-color: #c0392b;
}

.cancel-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.modal-btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.confirm-btn {
  background-color: #7f8c8d;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.cancel-btn {
  background-color: #7f8c8d;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}